/**
 * breakpoints
 */
$MOBILE: 320px;
$TABLET: 768px;
$TABLET-L: 1024px;
$DESKTOP: 1279px;

/**
 * font-family
 */
$BASE-FONT:  'DMSans', Helvetica, sans-serif;

/**
 * color
 */

$WHITE: #FFFFFF;
$BLACK: #000000;

/**
 * z-layer
 */
$z-content:1;
$z-header: 111;


/**
 * font-weight
 */

/**
 * other
 */
$DESIGN-W: 1400px;
$DESIGN-H: 952px;
$DESIGN-W-M: 320px;

$WRAPPER-D: 1170px;
$WRAPPER-D-M: 300px;

